
body {
    background-color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(113, 123, 133);
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2rem;
}

/* Game layout */

.game_area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 90%;
    height: 70vh;
    max-height: 500px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.egypt_image {
    max-height: 200px;
    max-width: 250px;
}

.spain_image {
    max-height: 200px;
    max-width: 250px;
}

/* Score Area */

.score_area {
    padding-top: 10%;
}

/* Submit Answer */

.submit_button {
  
}