
body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(113, 123, 133);
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;

}
/* Game layout */

.game_area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 90%;
    height: 70vh;
    max-height: 500px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Hide radio buttons */ 

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

#first_question, #second_question { 
    font-size: 1.5rem;
}

/* Score Area */

.score_area {
    padding-top: 10%;
    font-size: 1rem;
}

/* Submit Answer */

.submit_button {
    font-family: 'Courier New', Courier, monospace;;
    background-color: #E6ECF0;
    font-size: 20px;
    border-radius: 50px;

}

.submit_button:hover {
    background-color: rgb(113, 123, 133)
}

/* Images */ 

#first_question_image, #second_question_image {

    max-width: 100%;
    max-height: 100%;
    border-style: solid;

}
